{% include "builtin_functions/common_top.html" %}
<div class="flex-block">
{% include "builtin_functions/functions_nav.html" %}
<main>
  <h1>Встроенная функция {{func_name}}</h1>
  <h2>Синтаксис</h2>
  <div class="syntax">
    {% for item in syntax %}
      <p>{{item}}</p>
    {% endfor %}
  </div>
  <h2>Описание</h2>
  {% for item in description %}
  <p>{{ item }}</p>
  {% endfor %}
  <h2>Пример</h2>
<pre class="example">
{% for item in example %}<code>{{ item }}</code>{% endfor %}</pre>
  <h2>Результат</h2>
<pre class="example">
{% for item in result %}<code>{{ item }}</code>{% endfor %}</pre>
</main>
</div>
{% include "builtin_functions/common_footer.html" %}