
* {
    padding: 0;
    margin: 0;
    color: #444;
    /*font-family: "Courier", "Courier new", "Lucida Console", monospace;*/
    font-family: "Courier new", "Lucida Console", monospace;
}
a {
    text-decoration: none;
}


body {
    background:
    linear-gradient(to top, rgba(250,0,0,.3), rgba(250,0,0,.3) 3%,rgba(255,255,255,.3) 4%, rgba(255,255,255,.3) 100%),
    linear-gradient(to right, rgba(250,0,0,.3), rgba(250,0,0,.3) 3%,rgba(255,255,255,.3) 4%, rgba(255,255,255,.3) 100%);
    background-size: 20px 20px;
}


.page{
    max-width: 1200px;
    margin: auto;
    background: white;
    border: 1px solid grey;
}


.hat{
    background: #6495ED;
    line-height: 3rem;
}
.hat-leftblock{
    display: flex;
}

.hat-leftblock-logo a{
    display: block;
    position: relative;
    font-size: 3rem;
    color: #000;
    padding: 0 1rem;
    padding-left: 3rem;
}
.hat-leftblock-logo a:before{
    content: "";
    position:absolute;
    width: 2rem;
    height: 2rem;
    background-image: url("icon.png");
    background-size: 2rem;
    top: .5rem;
    left: .5rem;
}

.hat-leftblock-logo a:hover{
    color: #800000;
}

.face{
    min-height: 1000px;
}
.face-h1{
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}
.face-h2{
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem;
}

.face-flexblock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.face-flexblock-block{
    width: 250px;
    border: 1px solid grey;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
}
.face-flexblock-block:hover{
    background: #ddd;
}
.face-flexblock-block a{
    display: block;
    padding: 1rem;
}

.flex-block {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.flex-block main{
    width: calc(100% - 200px);
    background: #fff;
}

.column-nav {
    min-width: 200px;
    background: #eee;
    border-right: 1px solid grey;
}

.column-nav ul{
    list-style: none;
}
.column-nav li:nth-child(odd) {
    background: #fff;
}
.column-nav a{
    display: block;
    padding: 2px 5px;
}
