{% include "base/basic_top.html" %}
<main class="face">
    <h1 class="face-h1">PyPro</h1>
    <h2 class="face-h2">Справочник python</h2>
    <div class="face-flexblock">
        <div class="face-flexblock-block">
            <a href='{%url "builtin_functions:functions" %}'>Встроенные функции</a>
        </div>
        <div class="face-flexblock-block">
            <a href='{%url "builtin_functions:functions" %}'>Встроенные функции</a>
        </div>
        <div class="face-flexblock-block">
            <a href='{%url "builtin_functions:functions" %}'>Встроенные функции</a>
        </div>
        <div class="face-flexblock-block">
            <a href='{%url "builtin_functions:functions" %}'>Встроенные функции</a>
        </div>
        <div class="face-flexblock-block">
            <a href='{%url "builtin_functions:functions" %}'>Встроенные функции</a>
        </div>
        <div class="face-flexblock-block">
            <a href='{%url "builtin_functions:functions" %}'>Встроенные функции</a>
        </div>
        <div class="face-flexblock-block">
            <a href='{%url "builtin_functions:functions" %}'>Встроенные функции</a>
        </div>
        <div class="face-flexblock-block">
            <a href='{%url "builtin_functions:functions" %}'>Встроенные функции</a>
        </div>
    </div>

</main>

{% include "base/basic_bottom.html" %}