.one-column {
    max-width: 1200px;
    margin: auto;
    background: white;
    min-height: 1000px;
    margin: 0 auto;
    border: 1px solid grey;
    border-top: none;
    border-bottom: none;
}

h1 {
    padding: 20px;
    text-align: center;
    color: #000;
}
h2 {
    margin: 20px;
    text-align: center;
    color: #000;
}
p {
    margin: 20px;
}
.f-letter{
    font-size: 1.5;
    color: grey;
    padding: 2px 20px;
    background: #eee;
}

.f_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.f_list li{
    display: block;
    width: 200px;
    padding: 2px 20px;
}

.f_list a {
    display: block;
}

.f_list a:hover {
    color: blue;
}

.syntax {
    border: 1px solid grey;
    padding: 10px;
    background: #eee;
    margin: 20px;
    text-align: center;
}
.flex-block {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.flex-block main{
    width: calc(100% - 200px);
    background: #fff;
    border-right: 1px solid grey;
}

.column-nav {
    min-width: 200px;
    background: #eee;
    border: 1px solid grey;
}

.column-nav ul{
    list-style: none;
}
.column-nav li:nth-child(odd) {
    background: #fff;
}
.column-nav a{
    display: block;
    padding: 2px 5px;
}

.example {
    margin: 15px;
    padding: 10px;
    border: 1px solid #aaa;
    background: #eee;
    min-width: 400px;
}
.example code {
    display: block;
}